
 body {
    background-color: #f4c242;
  } 
  
  img {
    width: 25%;
  }

.burgersReadyToEat{
  display: inline;
}

.burgersEaten{
  float: right;
  width: 25%;
  margin-right: 25%;
}
.burgersReadyToEat{
  width: 25%;
  float: left;
  margin-left: 25%;
}

.container{
  text-align: center;
}
li{
  text-align: center;
}