
body {
    background-color: #f4c242;
  }
  
  img {
    width: 25%;
  }

.burgersReadyToEat{
  display: inline;
}

.burgersEaten{
  float: right;
  width: 50%;
}
.burgersReadyToEat{
  width: 50%;
  float: left;
}

.container{
  text-align: center;
}
li{
  text-align: center;
}